extends ../layout

block content

	section.jumbotron.text-center
		h1
			i.fa.fa-comments-o
			|  Simple Chat Room
		p
			|  Login or Register with: 
		
		a(href='/login').btn.btn-default 
			i.fa.fa-envelope
			|  E-mail 
		&nbsp;
		
		a(href='/auth/facebook').btn.btn-primary
			i.fa.fa-facebook 
			|  Facebook
		&nbsp;

		a(href='/auth/twitter').btn.btn-info
			i.fa.fa-twitter 
			|  Twitter 
		&nbsp;

		a(href='/auth/google').btn.btn-danger
			i.fa.fa-google-plus 
			|  Google+

		br
		p#register
			|  No account? 
			a(href="/signup").font-sm
				|  Register

	section.description
		if message.length > 0
			div.alert.alert-danger.container
				=message
		h2.hidden
			|  Description
		
		div.col-sm-4.description-cols
			
			div.wrapper-box.lead.create
				h3
					i.fa.fa-plus-circle
					|  Create

			i.fa.fa-caret-right

		div.col-sm-4.description-cols
			
			div.wrapper-box.lead.invite
				h3
					i.fa.fa-users
					|  Invite

			i.fa.fa-caret-right
			

		div.col-sm-4.description-cols
			
			div.wrapper-box.lead.talk
				h3
					i.fa.fa-comment-o
					|  Talk

	include ../components/footer
			