extends ../layout

block content
	div#getName.container.position-center
		div.col-sm-6.col-sm-offset-3
			form(action='/visitor/#{roomName}/#{key}' method='post')
				input(type='text' name="username" placeholder="My name is ...")#visitorName.form-control

				input(type='submit' name='submit' value="Save")#save-name.btn.btn-primary.btn-sm
					
				hr

				p.anonymous
					|  Or join as anonymous

				a(href="/room/#{roomName}/#{key}").btn.btn-default.btn-sm
					| Yes, please