extends ../layout

block content
	div.container.position-center
		div.col-sm-6.col-sm-offset-3
			h1
				i.fa.fa-user
				|  Add Local Account

			if message.length>0
				div.alert.alert-danger 
					=message 

			form(action='/connect/local/submitted' method='post')
				div.form-group
					
					label(for='email')
						| Email
					
					input(type='email' name='email')#email.form-control

				div.form-group
					
					label(for='password')
						| password

					input(type='password' name='password')#password.form-control

				button(type='submit').btn.btn-warning.btn-lg
					|  Add Local

			br
			p
				a(href='/setting')
					|  Go back to setting page

	include ../components/footer
