extends ../layout

block content
	div.container.position-center
		div.col-sm-6.col-sm-offset-3
			h1
				i.fa.fa-sign-in
				|  Login

			
			if message.length>0
				div.alert.alert-danger 
					=message 
				
			form(action='/login' method='post')
				div.form-group
					label
						|  Email
					input(type='email' name='email').form-control
				div.form-group
					label 
						|  Password
					input(type='password' name='password').form-control
				
				input(id='remember_me' type='checkbox' name='remember_me' checked)
				label(for='remember_me').font-size-sl
					|&nbsp;  remember me

				|  |  
				
				a(href='/reset').font-size-sl
					| Forgot your pasword?

				br

				button(type='submit').btn.btn-warning.btn-lg
					| Login
						
			br

			hr

			p
				| Need an account?
				a(href='/signup')
					|  Signup
			p
				| Or go
				a(href='/')
					|  Home

	include ../components/footer
				