extends ../layout

block content
	div.container.position-center
		div.col-sm-6.col-sm-offset-3
			h1 
				i.fa.fa-gavel
				|  New password

			
			form(action='/reset/verified/resetPass' method='post')
				div.form-group
					br
					label
						|  Please type your new password
					input(type='password' name='password').form-control
					input(type='hidden' name='email' value='#{acctEmail}')
				button(type='submit').btn.btn-primary
					|  Submit

			br

			hr

			p
				| Or go
				a(href='/')
					|  Home

	include ../components/footer


